<h2><%= @tvshow.title %> </h2>




<div> <%= link_to("add comment ", "/tv_shows/#{@tvshow.id}/comments/new")  %> </div>



<%= form_with url:tv_show_comments_path ,id: :new_tv_show_comment do |form| %>
  <div>  <%= form.label :comment %>
    <%= form.text_field :comment %></div>
    <%= form.submit %>
<% end %>


<%# Comments: %>
  <%# <% @tvshow.comments.each do |comment| %> %>
    <%# <%= link_to comment.user.username, user_path(comment.user) %> said %>
    <%# <%= comment.content %>
  <%# <% end %> %> %>

