  <%= render 'layouts/alert' %>

<h2><%= @tvshow.title %> </h2>
<%= form_with model:[@tvshow, @comment], local: :true  do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id%>
    <%= f.label :comment %>
    <%= f.text_field :comment %>
    <%= f.submit %>
<% end %>



