<h1><%= @tvshow.title %> </h1>
  <%= link_to("edit show details", "/tv_shows/#{@tvshow.id}/edit") %> 




<h2><%= current_user ? link_to("add comment", "/tv_shows/#{@tvshow.id}/comments/new") : nil %></h2>

<%# <dir> <%= link_to("add comment", "/tv_shows/#{@tvshow.id}/comments/new")  %> </dir> %>
    
<%= @tvshow.comments.count %> Comments:
 <% @tvshow.comments.each do |comment| %>



   <li> <%= link_to comment.user.username , "/comments/#{comment.id}" %> :
     <%= comment.comment %>
     <p style = "text-align:right"> 

 </div>
 
<div> 

 



 <% end %> </div>  
