<h2><%= @tvshow.title %> </h2>




<div> <%= link_to("add comment", "/tv_shows/#{@tvshow.id}/comments/new")  %> </div>


<%=@tvshow.id%>
<dir> </dir>
Comments:
  <% @tvshow.comments.each do |comment| %>



   <li> <%= link_to comment.user.username%> said
     <%= comment.comment %>
   <% end %> </li>