<h2><%= @tvshow.title %> </h2>




<h2><%= current_user ? link_to("add comment", "/tv_shows/#{@tvshow.id}/comments/new") : nil %></h2>

<%# <dir> <%= link_to("add comment", "/tv_shows/#{@tvshow.id}/comments/new")  %> </dir> %>
    
<%= @tvshow.comments.count %> Comments:
 <% @tvshow.comments.each do |comment| %>



   <li> <%= link_to comment.user.username.titleize , "/comments/#{comment.id}" %> :
     <%= comment.comment %>

<div> 

 
   <% end %> </div>