
<nav>
    <ul>
    <% if !user_signed_in?  %>

        <%= button_to "Log In", new_user_session_path%>
        <%= button_to "Sign Up", new_user_registration_path, method: :get%>
        <% else %>
        <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
        <%= button_to "Edit", edit_user_registration_path, method: :get%>
          <center>      <%= link_to "Home", tv_shows_path	, method: :get %></center>

        <% end %>
    </ul>
</nav>
